<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© @DateTime.Now.Year - Exemplo CRUD utilizando Domain Driven Design - Rodrigo Moura</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="https://www.linkedin.com/in/rodrigodemoura/">Rodrigo Moura</a></li>               
            </ul>
        </div>
    </div>
</div>
